
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="modal fade"id="modalChuDe" tabindex="-1" role="dialog" aria-labelledby="exampleModalcentertitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"role="document">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading" id="modalTitle> </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" id="maCD" value="" hidden />
                        <label>Ten chu de</label
                        <input type="text" class="form-control" id="txtTenChuDe"placeholder="ten chu de" />
                    </div>
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmit">Luu</button>
                <button type="button"  class="btn btn-secondary" data-dismiss="modal">Dong</button>
            </div>
        </div>    
    </div>
</div>
