@model IEnumerable<NguyenQuocThinhSachOnlinee.Models.ReportInfo>
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê số đầu sách theo chủ đề</h2>
<table border="1">
    <tr style="background-color:burlywood; font-weight:bold;">
        <td>Mã CD</td>
        <td>Tên CD</td>
        <td>Số đầu sách</td>
        <td>Tổng số sách</td>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name </td>
                    <td>@item.Count</td>
                    <td>@item.Sum</td>
                </tr>
            }
</table>
